h1 {
    text-align: center;
    color:white;
}

header {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
}

header h1 {
    margin: 0;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2%;
}

.nav-dropdown button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 2% 5%;
    font-size: 100%;
    cursor: pointer;
    border-radius: 5%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8%;
}

.dropdown-menu a:hover {
    background-color: darkgreen;
    color: white;
}

.nav-dropdown:hover .dropdown-menu {
    display: block;
}
body {
    border-left: 20px solid darkgreen;
    border-right: 20px solid darkgreen;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}
.left-bar,
.right-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1%;
    background-color: darkgreen;
    z-index: 1000;
}

.left-bar {
    left: 0;
}

.right-bar {
    right: 0;
}

.picture {
    width: 100%;
    text-align: center;
    margin: 2% 0;
}

.picture img {
    width: 20%;
    height: auto;
    border: 0.6vw solid darkgreen;
    border-radius: 5%;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 5px solid darkgreen;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    width: 90%;
    margin: 3% auto;
}

.box {
    width: 35%;
    padding: 1%;
    background-color: black;
    color: white;
    border: 0.3vw solid darkgreen;
    box-sizing: border-box;
}

 footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
     box-sizing: border-box;
 }
